{% extends '../visitor-base.html' %}

{% block title %}
Post list
{% endblock %}
{% block content %}

			<main class="content">
				<div class="container-fluid p-0">
					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Movies</h1>
						<small class="badge bg-dark text-white ms-2">Latest</small>
					</div>
					<div class="row">
     {% for blog in blogs %}
						<div class="col-md-3 d-flex align-items-stretch">
							<div class="card">
								<img class="card-img-top" src="{{ blog.Poster.url }}" alt="Unsplash" height="">
								<div class="card-header">
									<h4 class="card-title mb-0 text-dark">{{ blog.Title }}</h4>
								</div>
								<div class="card-body">
                                    <p class="card-text">{{ blog.Description|truncatechars:100 }}</p>
									<p class="card-text">{{ blog.Genre }} - {{ blog.Release }}</p>
									<a href="blog-details/{{ blog.id }}" class="btn btn-primary">Read more</a>
								</div>
							</div>
						</div>
     {% endfor %}
						</div>
				</div>
			</main>


{% endblock %}