{% extends '../dash-layout.html' %}

{% block title %}
Update
{% endblock %}

{% block create-state %}
active
{% endblock %}

{% block content %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Blog</strong> | Update</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Update Blog</h5>
								</div>
								<div class="card-body">
                                    <form class="row g-3" method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}

							  <div class="col-md-6">
								<label for="inputTitle" class="form-label">Movie Title</label>
								<input type="text" name="Title" class="form-control" value="{{ editinfo.Title }}">
							  </div>
							  <div class="col-md-6">
								<label for="inputGenre" class="form-label">Movie Genre</label>
								<input type="text" name="Genre" class="form-control" value="{{ editinfo.Genre }}">
							  </div>
							  <div class="col-12">
								<label for="inputDescription" class="form-label">Description</label>
                                  <textarea name="Description" class="form-control" id="" cols="30" rows="10">{{ editinfo.Description }}</textarea>
							  </div>
							  <div class="col-md-6">
								<label for="inputPhoto" class="form-label">Poster</label>
								<input type="file" class="form-control" value="{{ editinfo.Poster }}" name="Poster">
							  </div>
							  <div class="col-md-6">
								<label for="inputCity" class="form-label">Release date</label>
								<input type="date" class="form-control" value="{{ editinfo.Release }}" name="Release">
							  </div>
							  <div class="col-12">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" checked name="state">
								  <label class="form-check-label" for="gridCheck">
									Publish
								  </label>
								</div>
							  </div>
							  <div class="col-12">
								<button type="submit" class="btn btn-primary">Update</button>
							  </div>
						</form>

								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

{% endblock %}